<div class="row">
  <div class="col s12" >
    <div class="row">
      <div class="col s12 m4" >
        <div class="col s12 ">
          <h3 class="center-align">Programacion</h3>
        </div>
        <div class="col s12 m12" *ngFor="let item of this.curso">
          <span class="esfera blue lighten-3 ">
        <span class="imagen">
        </span>
          <span class="titulo">
            <h5 class="center-align">{{item}}</h5>
          </span>
          </span>
        </div>
      </div>

    </div>

  </div>