<div class="row">
  <div class="col s12">
    <h3 class="center-align">Lista de Actividades</h3>
  </div>
  <div class="col m4 l6">
    <table class="responsive-table">
      <thead>
        <tr>
          <th data-field="titulo">Titulo</th>
          <th data-field="numero total de inscritos">Total inscritos</th>
          <th data-field="fecha">fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a [routerLink]="['1']">Salida de campo</a></td>
          <td>12</td>
          <td>{{this.hoy |date:"shortDate"}}</td>
        </tr>
        <tr>
          <td><a [routerLink]="['2']">Desfile</a></td>
          <td>4</td>
          <td>{{this.hoy | date:"shortDate"}}</td>
        </tr>
        <tr>
          <td><a [routerLink]="['3']">Excursion a la laguna de los milagros</a> </td>
          <td>30</td>
          <td>{{this.hoy |date:"shortDate"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col s12 l6">
    <router-outlet></router-outlet>
  </div>

</div>